@charset "utf-8";

body {
    background: #e7dcce;
    text-align: center;
}
h1{
    font-size: 50px;
}
h2{
    font-weight: normal;
    font-size: 35px;
}
.button_shadow{
    box-shadow: 5px 5px 2px 1px #800000;
}
button{
    font-size: 25px;
    background-color: #DCAE96;
    color: white;
    border-style: none;
    margin-bottom: 30px;
    height: 60px;
}
